version: '3.7'

volumes:
    logs:
        driver: local
    mysql_data:
        driver: local

services:
    slim:
        build:
            context: .
            dockerfile: Dockerfile
        working_dir: /var/www
        environment:
            docker: "true"
            DB_HOST: ${DB_HOST}
            DB_NAME: ${DB_NAME}
            DB_USER: ${DB_USER}
            DB_PASSWORD: ${DB_PASSWORD}
            LINE_CHANNEL_ID: ${LINE_CHANNEL_ID}
            LINE_CHANNEL_SECRET: ${LINE_CHANNEL_SECRET}
            LINE_AUTH_REDIRECT_URI: ${LINE_AUTH_REDIRECT_URI}
        ports:
            - "8080:8080"
        volumes:
            - .:/var/www
            - logs:/var/www/logs
        depends_on:
            - mysql

    mysql:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_USER: ${DB_USER}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        ports:
            - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql
            - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
