<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINEログイン</title>
    <style>
        body {
            background-color: #f5f7fb;
        }
        .login-container {
            /* display: flex;
            justify-content: center; */
            text-align: center;
            margin-top: 50px;
        }
        .line-login-btn {
            display: inline-block;
        }
        .line-login-btn img {
            width: 240px;
        }
        body > a {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h1>LINEでログインに失敗しました。</h1>
        <a href="/line_login" class="line-login-btn">
            <img src="/images/btn_login_base.png" alt="LINEでログインボタン">
        </a>
    </div>
</body>
</html>
