<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>コミュニティ一覧</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/show_trigger.css">
</head>
<body>
    <a href="/logout" class="logout-button">
        ログアウト
    </a>
    <h1>コミュニティ一覧</h1>
    {% for trigger in triggers %}
        <div class="one_trigger_container">
            <form method="get" action="/show_situation" class="trigger_show_form">
                <input type="hidden" name="trigger_id" value="{{trigger.id}}">
                <button type="submit" class="trigger_show_button">{{ trigger.trigger_name }}</button>
            </form>
            <form method="post" action="/delete_trigger" class="trigger_edit_form" onsubmit="return confirm('「{{ trigger.trigger_name }}」に紐づくデータ（メンバー・メッセージ）も削除されます。\n本当に削除しますか？');">
                <input type="hidden" name="trigger_id" value="{{trigger.id}}">
                <button type="submit" class="trigger_edit_button">
                    <i class="fas fa-trash"></i>
                </button>
            </form>
        </div>
    {% endfor %}

    <div class="edit_name_container">
        <form method="get" action="edit_trigger_name" class="trigger_edit_form">
            <button type="submit">コミュニティ名の編集</button>
        </form>
    </div>

    <div class="new_trigger_container">
        <form action="/add_trigger" method="get">
            <button type="submit">新規コミュニティ追加</button>
        </form>
    </div>
</body>
</html>
