<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>show_trigger</title>
  <style>
    .one_trigger_container {
      display: flex;
      border: solid 1px gray;
      border-radius: 8px;
      padding: 8px;
      margin: 32px;
      justify-content: space-between;
      align-items: center;
    }
    .one_trigger_container > .trigger_name {
      flex-grow: 1;
    }
    .one_trigger_container > .trigger_edit_form {
      margin-left: 8px;
    }
    .trigger_edit_button {
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
    .new_trigger_container {
      margin-left: auto;
      margin-right: auto;
      width: 96px;
    }
    .trigger_show_form {
      width: 100%;
    }
    .trigger_show_button {
      background: none;
      border: none;
      cursor: pointer;
      text-align: left;
      width: 100%;
      padding: 0;
      font: inherit;
    }
  </style>
</head>
<body>
  <h1>先輩一覧</h1>
  {% for trigger in triggers %}
    <div class="one_trigger_container">
        <form method="get" action="/show_situation"  class="trigger_show_form">
          <input type="hidden" name="trigger_id" value="{{trigger.id}}">
          <button type="submit" class="trigger_show_button">{{ trigger.trigger_name }}</button>
        </form>
        <form method="post" action="/delete_trigger" class="trigger_edit_form">
          <input type="hidden" name="trigger_id" value="{{trigger.id}}">
          <button type="submit" class="trigger_edit_button">削除</button>
        </form>
        <br>
    </div>
  {% endfor %}
  <form method="get" action="edit_trigger_name" class="trigger_edit_form">
    {# <input type="hidden" name="trigger_id" value="{{trigger.id}}"> #}
    <button type="submit" class="trigger_edit_button">先輩名の編集</button>
  </form>
  <form action="/add_trigger" method="get" class="new_trigger_container">
    <button type="submit">新規先輩追加</button>
  </form>
</body>
</html>